{% load static %}
<div class="rotate-{{ rot }} md:my-0 my-20">
    <p class="text-4xl font-bold italic p-1">{{ text }}</p>
    {% with 'quality_kitty_pics/'|add:pic as image_static %}
        <img
            src="{% static image_static %}"
            alt=""
            :class="animate ? '' : 'paused'"
            class="
                relative 
                w-{{ w }}
                hover:w-{{ w|add:"40" }}
                duration-800
                h-auto 
                z-12 
                border-4

                bg-gradient-to-l 
                shadow-2xl 
                shadow-purple-600/50 
            "
        />
    {% endwith %}
</div>